.container {
  padding: 0 1.875em;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.875em;

  .login__logo {
    width: 100%;
    font-weight: 600;
    text-align: left;

    a {
      color: $medium-persian-blue;
    }
  }

  .login__info--desktop {
    display: none;
  }

  .login__title {
    color: $medium-persian-blue;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: .5em;
    width: 100%;
    text-align: center;
  }

  .login__img {
    margin-bottom: 1em;
    height: 270px;
    width: 244px;
  }

  .login__desc {
    color: $philippine-silver;
    margin-bottom: 2em;

    a {
      color: $picton-blue;
    }
  }

  .login__input {
    width: 100%;
    
    input {
      border-radius: 11px;
      border: 2px solid $philippine-silver;
      color: $dark-charcoal;
      padding: 1em;
    }

    .login__input--label {
      color: $medium-persian-blue;
      margin-bottom: .5em;
    }

    .login__input--email {
      display: flex;
      flex-direction: column;
      position: relative;

      .fa-envelope {
        color: $philippine-silver;
        padding-right: 1em;
        position: absolute;
        right: 0;
        top: 41px;
      }
    }

    .login__input--password {
      display: flex;
      flex-direction: column;
      position: relative;

      .fa-eye {
        color: $philippine-silver;
        padding-right: 1em;
        position: absolute;
        right: 0;
        top: 41px;
      }
    }

    .input {
      margin-bottom: 1.5em;
    }

    .login__button {
      background: $medium-persian-blue;
      border-style: none;
      border-radius: 11px;
      cursor: pointer;
      color: #fff;
      letter-spacing: 2px;
      margin-bottom: 3em;
      padding: 1em;
      text-transform: uppercase;
      width: 100%;
    }

    .login__pass {
      text-align: center;

      a {
        color: $philippine-silver;

        &:hover {
          color: $picton-blue;
        }
      }
    }
  }

  .login__terms--desktop {
    display: none;
  }
}