.container {
  padding: 0 1.875em;
}

.register {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.875em;
}

.wrapper {
  width: 100%;
}

.register__logo {
  width: 100%;
  font-weight: 600;
  text-align: left;

  a {
    color: $medium-persian-blue;
  }
}

.register__info--desktop {
  display: none;
}

.register__title {
  color: $medium-persian-blue;
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: .5em;
  width: 100%;
  text-align: center;
}

.container__img {
  display: flex;
  align-items: center;
  justify-content: center;

  .register__img {
    margin-bottom: 1em;
    height: 322px;
    width: 322px;
  }
}

.register__desc {
  color: $philippine-silver;
  margin-bottom: 2em;
  text-align: center;

  a {
    color: $picton-blue;
  }
}

.register__input {
  width: 100%;

  input {
    border-radius: 11px;
    border: 2px solid $philippine-silver;
    color: $dark-charcoal;
    padding: 1em;
  }
}

.register__input--label {
  color: $medium-persian-blue;
  margin-bottom: .5em;
}

.register__input--username {
  display: flex;
  flex-direction: column;
  position: relative;

  .fa-user {
    color: $philippine-silver;
    padding-right: 1em;
    position: absolute;
    right: 0;
    top: 41px;
  }
}

.register__input--email {
  display: flex;
  flex-direction: column;
  position: relative;

  .fa-envelope {
    color: $philippine-silver;
    padding-right: 1em;
    position: absolute;
    right: 0;
    top: 41px;
  }
}

.register__input--password {
  display: flex;
  flex-direction: column;
  position: relative;

  .fa-eye {
    color: $philippine-silver;
    padding-right: 1em;
    position: absolute;
    right: 0;
    top: 41px;
  }
}

.input {
  margin-bottom: 1.5em;
}

.register__button {
  background: $medium-persian-blue;
  border-style: none;
  border-radius: 11px;
  cursor: pointer;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 3em;
  padding: 1em;
  text-transform: uppercase;
  width: 100%;
}

.register__pass {
  text-align: center;

  a {
    color: $philippine-silver;

    &:hover {
      color: $picton-blue;
    }
  }
}

.register__terms--desktop {
  display: none;
}

@media (min-width: 1040px) {
  .container {
    align-items: center;
    background: $picton-blue;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  .register {
    align-items: center;
    background: #fff;
    border-radius: 41px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 0;
    position: relative;
    padding: 3em 2em 3em 3em;

    &::after {
      content: '';
      background: $alice-blue;
      border-radius: 41px;
      width: 510px;
      position: absolute;
      height: 639px;
      top: 0;
      right: 0;
    }
  }

  .register__wrapper {
    width: 100%;
    z-index: 1;
    margin-right: 0;

    .container__img {
      width: 100%;
      margin-top: 1em;
  
      .register__img {
        width: 475px;
        height: 475px;
        margin: 0 auto;
        animation: floating-register 4s linear infinite;
      }
    }
  }

  .register__logo {
    font-size: 24px;
    margin-left: 2em;
  }

  .register__input {
    max-width: 400px;
    margin-right: 3em;

    .register__info--desktop {
      color: $medium-persian-blue;
      display: block;
  
      .register__text--desktop {
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: .5em;
        font-size: 1.188rem;
      }

      .register__title--desktop {
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: .5em;
      }
    }
  }

  .register__title {
    display: none;
  }

  .register__button {
    margin-bottom: 1em;
  }

  .register__desc {
    text-align: left;
  }

  .register__pass {
    text-align: right;
  }

  .terms {
    width: 100%;
    text-align: center;
    margin-top: 1em;

    .register__terms--desktop {
      display: inline-block;
      line-height: 1.5em;
      color: $philippine-silver;
      font-size: 1rem;

      a {
        color: $picton-blue;
      }
    }
  }
}